<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
     
    <add name="cashDesk"
      connectionString="yqV+V9oz+FWy0NBj20nKMFaMXDoxPvmh3wW10/GqG5Iy9cAvHqbPPx5kTdyuE/XBifFjG4WRJ58g+dE9CvJLL6YAl5WsQcrfYVXe13KqxCh9XKSMQ5Wa9y9LxAv1TzDtcr29PgWEyIaCbPjjGcN4rxwpK+rAJ0iVmkv7RwbHzmw="
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.CashDeskDBConnectionString1"
      connectionString="yqV+V9oz+FWy0NBj20nKMOGU840L4tKDlrrbXMSvjW+ISWjBHOuPPxc9zXnx1kwFrNmeJUiylvraKLPrjprK9cOteACud53BJFp/aUHxyLfpiW+x8eN6UlEUPs6R41XP"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>